// COLORS
$color-primary: #f03135;
$color-primary-light: lighten($color-primary, 10%);
$color-primary-dark: darken($color-primary, 10%);

$color-title: #3c4a62;
$color-tag: #375fc9;
$color-text: #606368;
$color-white: #fff;
$bg-grey: #f4f4f5;

// FONT
$default-font-size: 1.6rem;
