.tooltip.show {
  top: -1rem !important;
}
.tooltip-inner {
  padding: 1rem 1rem;
  background-color: $color-white;
  color: $color-title;
  font-size: 1.4rem;
  box-shadow: 0px 4px 20px rgba($color: #000000, $alpha: 0.3);
}

.bs-tooltip-auto[x-placement^="top"] .tooltip-arrow::before,
.bs-tooltip-top .tooltip-arrow::before {
  left: -0.6rem;
  border-width: 0.7rem 1rem 0;
  border-top-color: $color-white;
}
