@charset "UTF-8";

@font-face {
    font-family: 'FiraGO';
    src: url('./fonts/FiraGO-Regular.eot');
    src: url('./fonts/FiraGO-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/FiraGO-Regular.woff2') format('woff2'),
        url('./fonts/FiraGO-Regular.woff') format('woff'),
        url('./fonts/FiraGO-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

